@charset "UTF-8";
.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.reveal-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  background: white;
}.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.reveal-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  background: white;
}.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.reveal-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  background: white;
}.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.reveal-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  background: white;
}.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.reveal-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  background: white;
}.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.reveal-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  background: white;
}.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.reveal-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  background: white;
}.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.reveal-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  background: white;
}.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.reveal-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  background: white;
}.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.reveal-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  background: white;
}.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.reveal-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  background: white;
}.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.reveal-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  background: white;
}.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.reveal-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  background: white;
}.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.reveal-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  background: white;
}.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.reveal-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  background: white;
}.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.reveal-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  background: white;
}.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.reveal-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  background: white;
}.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.reveal-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  background: white;
}.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.reveal-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  background: white;
}.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.reveal-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  background: white;
}.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.reveal-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  background: white;
}.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.reveal-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  background: white;
}.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.reveal-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  background: white;
}.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.reveal-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  background: white;
}.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.reveal-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  background: white;
}@charset "UTF-8";
.map{
	width: 250%;
	height: 350%;
	background-image: url("../_imgs/Screenshot 2023-12-12 at 1.23.32 AM.png");
	background-repeat: no-repeat;
	background-size: cover;
}
*{
	padding: 0px;
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
	scroll-behavior: smooth;
	<script src="script.js"></script>
	
}
@font-face{
	font-family:"abril";
	src:url("../_fonts/AbrilFatface-Regular.ttf");
}
@font-face{
	font-family:"fun";
	src:url("../_fonts/ugly-dave.ttf");
}
@font-face{
	font-family:"big";
	src:url("../_fonts/Onest-VariableFont_wght.ttf");
}
@font-face{
	font-family:"sans";
	src:url("../_fonts/Quicksand-VariableFont_wght.ttf");
}

#video-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
	z-index: -1; 
}
 video {
            object-fit: cover;
}
h11{
		 color: white;
		 position: absolute;
		 top: 200px;
	font-family: "big";
	font-size: 2em;
	margin-left: 5%;
	 }
.main-nav{
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	text-align: center;
	
}

.main-nav ul{
	list-style-type: none;
	
}
.main-nav a{
	text-decoration: none;
	font-family: sans;
	font-size: 2.5em;
	text-align: center;
	
	

}
.main-nav :hover{
	background-color: white;
	
	color: black;
}
.main-img{
	height: auto;
	width: 100%; 
}
nav ul li {
	display: block;
	float: left;
	border: 2px solid black;
	width: 19%;
	box-sizing: border-box;
	background-color: white;
	
}
body{
	background-color: beige;
	width: 100%;
	padding: 20px;
	margin: 0px, auto;
}
.homesec{
	grid-template-columns: 1fr 1fr 1fr;
	display: grid;
	margin-top: 25px;
}
.homesecone{
	border: 2px solid white;
	margin-top: 50px;
	height: 200px;
	width: 1fr;
	padding: 10px;
	box-sizing: border-box;
}
.homesectwo{
	border: 2px solid white;
	margin-top: 20px;
	height: 200px;
	width: 1fr;
	padding: 10px;
	box-sizing: border-box;
}
.homesecthree{
	border: 2px solid white;
	margin-top: 20px;
	height: 200px;
	width: 1fr;
	padding: 10px;
	box-sizing: border-box;
}
img{
	width: 100%;
	height: auto;
	border: 4px solid navy;
}
.homesecone{
	background-image: url("../_imgs/Screenshot 2023-10-01 at 7.51.45 PM.png");
	background-size: cover;
	background-position: center;
	margin-top: 50px;
	
	
}
.homepage{
	margin: 0px auto;
	width: 90%;
}

.homesecone a{
	color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 8em;
	
	
	
}
h1{
	color: white;
	font-size: 11em;
	font-family: fun;
	text-align: center;
	margin-bottom: 50px;
	margin-bottom: 10px;
	
}
h3{
	color: white;
	font-size: 5em;
	font-family: fun;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 50px;
	
}
p{
	color: white;
	text-align: center;
	font-size: 2em;
	padding-right: 10%;
	padding-left: 10%;
	font-family: sans;
}
.quote{
	background-color: navy;
	margin-right: 10%;
	margin-left: 10%;
	border-radius: 20px;
	padding: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
	border: 3px solid white;
	margin-top: 50px;
	margin-bottom: 50px;
	
}
h4{
	color: white;
	font-size: 4em;
	font-family: fun;
	text-align: center;
	
}
.circle{
	border-radius: 50%;
	width: 80%;
	margin-left: 10%;
	margin-top: 50px;
	grid-column: 1/2;
}
.circles img{
	border-radius: 100%;
}
.circles{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	
}
.circletwo{
	border-radius: 50%;
	width: 80%;
	margin-left: 10%;
	margin-top: 50px;
	grid-column: 2/3;
}
.circlethree{
	border-radius: 50%;
	width: 80%;
	margin-left: 10%;
	margin-top: 50px;
	grid-column: 3/3;
}
.scroll{
	display:contents;
}
.squareone{
	width: 400px;
	margin: 0px auto;
	height:400px ;
	background-image: url("../_imgs/Screenshot 2023-10-01 at 7.51.45 PM.png");
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 50px;
	position: relative;
	border-radius: 15%;
	
	
	
}
.square{
		width: 400px;
	margin: 0px auto;
	height:400px ;
	background-image: url("../_imgs/download-3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 50px;
	position: relative;
	border-radius: 15%;
	grid-area: none;
}
.squaretwo{
	width: 400px;
	margin: 0px auto;
	height:400px ;
	background-image: url("../_imgs/Screenshot 2023-11-07 at 7.35.59 PM.png");
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 50px;
	position: relative;
	border-radius: 15%;
}
.squarethree{
	width: 400px;
	margin: 0px auto;
	height:400px ;
	background-image: url("../_imgs/Screenshot 2023-11-14 at 6.28.47 PM.png");
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 50px;
	position: relative;
	border-radius: 15%;
}
.squarefour{
	width: 400px;
	margin: 0px auto;
	height:400px ;
	background-image: url("../_imgs/Screenshot 2023-11-14 at 7.33.22 PM.png");
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 50px;
	position: relative;
	border-radius: 15%;
}
.overlay{
    position: absolute;
    background-color: darkolivegreen;
    top: 0;
    bottom: 0;
    opacity: 0%;
    color: white;
    width: 399px;
    height: 398px;
	border-radius: 15%;
	text-align: center;
	padding: 5%;
}

.overlay:hover{
	opacity: 80%;
}
.overlay p{
	color: white;
	margin-top: -25px;
	font-family: big;
}
.overlaytwo{
    position: absolute;
    background-color: darkolivegreen;
    top: 0;
    bottom: 0;
    opacity: 0%;
    color: white;
    width: 399px;
    height: 398px;
	border-radius: 15%;
	text-align: center;
	padding: 5%;
}

.overlaytwo:hover{
	opacity: 80%;
}
.overlaytwo p{
	color: white;
	margin-top: -25px;
	font-family: big;
}
.overlaythree{
    position: absolute;
    background-color: darkolivegreen;
    top: 0;
    bottom: 0;
    opacity: 0%;
    color: white;
    width: 399px;
    height: 398px;
	border-radius: 15%;
	text-align: center;
	padding: 5%;
}

.overlaythree:hover{
	opacity: 80%;
}
.overlaythree p{
	color: white;
	margin-top: -25px;
	font-family: big;
	padding: 2%;
}
.overlayfour{
    position: absolute;
    background-color: darkolivegreen;
    top: 0;
    bottom: 0;
    opacity: 0%;
    color: white;
    width: 399px;
    height: 398px;
	border-radius: 15%;
	text-align: center;
	padding: 5%;
}

.overlayfour:hover{
	opacity: 80%;
}
.overlayfour p{
	color: white;
	margin-top: -25px;
	font-family: big;
	padding: 2%;
}
.overlayfive{
    position: absolute;
    background-color: darkolivegreen;
    top: 0;
    bottom: 0;
    opacity: 0%;
    color: white;
    width: 399px;
    height: 398px;
	border-radius: 15%;
	text-align: center;
	padding: 5%;
}

.overlayfive:hover{
	opacity: 80%;
}
.overlayfive p{
	color: white;
	margin-top: -25px;
	font-family: big;
	padding: 2%;
}
h5{
	font-size: 3em;
	margin-bottom: -55px;
	font-family: big;
}
h6{
	font-size: 2.5em;
	font-family: big;
}
h2{
	font-size: 4em;
	margin-bottom: -55px;
	font-family: big;
}
h2 a{
	color: white;
	text-decoration: none;
}
.mainheadingtext a{
	font-size: 4em;
	margin-top: 5%;
	color: white;
	z-index: 1;
	text-align: left;
	margin-left: 2%;
}

.horizontal-scroll-container {
    width: 80%; 
    overflow-x: scroll;
    white-space: nowrap; 
	margin: 0px auto;
	border: 5px solid pink;
	border-radius: 10%;
}


.content {
    width: auto; 
	border: px solid pink;
}
.content img{
	visibility: visible;
}
.otherlandimg{
	width: 100%;
	margin: 0px;
	border: none;
	visibility: visible;
	
}
body{
	background-color: black;
}
p{
	color: white;
}
nav{
	width: 120%;
	position: fixed;
	height: auto;
	background-color: black;
	margin-top: -30px;
	color: white;
	border: none;
}
nav li a{
	width: 20%;
	position: fixed;
	background-color: black;
	color: white;
	border: none;

}
.main-nav a{
	color: white;
	border: none;
}
.quote{
	background-color: palevioletred;
}
.contactform{
	background-color: palevioletred;
	color: white;
	margin: 0px auto;
	padding-top: 20px;
	margin-top: 100px;
	width: 100%;
	
}
.contact{
	margin-left: 20%;
}
.contenttwo {
    height: 200vh; 
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fade-in {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.hidden-checkbox {
    display: none;
}


.hidden {
    display: none;
}


#show-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}
.starone{
	width: 30px;
	position: absolute;
	top: 550px;
	border: none;
	animation: growshrink 1.5s infinite alternate;
	visibility: visible;

	
}
.startwo{
	width: 30px;
	position: absolute;
	top: 650px;
	right: 10px;
	border: none;
	animation: growshrink 1s infinite alternate;
	visibility: visible;

	
}
.starthree{
	width: 15px;
	position: absolute;
	top: 600px;
	right: 35px;
	border: none;
	animation: growshrink .75s infinite alternate;
	visibility: visible;

	
}
h1{
	position: relative;
}
.thankyounote {
   color: white;
   animation: moveUpDown 4s infinite alternate;
	rotate: 180(deg);
}
.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slideUp {
  animation-name: slideUp;
  animation-duration: 1s;
  visibility: visible;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.col-1 {float:left;}
.col-2 {float:left;
padding-left:25px;}
img {visibility:hidden;}
hr {margin-top:400px;}

#myimg{
	width: 50px;
	height: auto;
	z-index: 50;
	border: none;
	position: relative;
}
#myimgtwo{
	width: 80px;
	height: auto;
	z-index: 50;
	border: none;
	position: absolute;
	top: 1300px;
	left: 0px;
}
#myimgthree{
	width: 90px;
	height: auto;
	z-index: 50;
	border: none;
	position: absolute;
	top: 1550px;
	right: 0px;
}
#myimgfour{
	width: 90px;
	height: auto;
	z-index: 50;
	border: none;
	position: absolute;
	top: 1150px;
	right: 0px;
}
#myimgsix{
	width: 90px;
	height: auto;
	z-index: 50;
	border: none;
	position: absolute;
	top: 1850px;
	right: 0px;
}
#myimgfive{
	width: 80px;
	height: auto;
	z-index: 50;
	border: none;
	position: absolute;
	top: 2000px;
	right: 0px;
}
h12{
	opacity: 0;
	color: white;
	font-size: 11em;
	font-family: fun;
	text-align: center;
	margin: 0px auto;
	margin-top: 500px;
	
}
/*
#fade-in{
            opacity: 1;
            transition: opacity 1s ease-in-out;
        }
*/


/*
h12:hover{
	opacity: 1;
    transition: opacity 1s ease-in;
	text-align: center;
}
*/
.big-arrow{
	width: 20%;
	display: none;
}
#fade-in {
            opacity: 0;
            animation: fadeInAnimation 3s ease-in-out forwards;
        }
.smallbusinessesinnyc{
	height: vh;
	margin-bottom: 10px;
}
h12 p{
	margin-top: -100px;
	margin-bottom: 300px;
}

  @keyframes fadeInAnimation {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

@keyframes growshrink {
    0% {
        transform: scale(1); 
    }
    100% {
        transform: scale(2); 
    }
}

@keyframes moveUpDown {
    0% {
        top: 0;
    }
    100% {
        top: 800px;
    }

}
h2{
	font-family: fun;
}
  


/*
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reveal-text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
  font-size: 24px;
}
*/
/*
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reveal-text {
  opacity: 0;
  transition: opacity 1s;
  font-size: 24px;
}
*/
body {
      margin: 0;
      font-family: 'Arial', sans-serif;
      height: 200vh; /* Add extra height for scrolling effect */
    }

    .container {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .reveal-text {
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 1s, transform 1s;
      font-size: 24px;
    }
header{
	padding-top: 20%;
	}
.pop-upimg-container{
      height: 90vh;
      display: flex;
      align-items: center;
      justify-content: center;
	margin: 0px auto;
    }

    .pop-upimg {
      opacity: 0;
      transition: opacity 1s;
      height: auto;
	  width: 30%; 
		background-image: url("../_imgs/flatten.webp");
		background-repeat: no-repeat;
		background-size: cover;
		
	
    }
.pop-upimgad {
      opacity: 0;
      transition: opacity 1s;
      height: auto;
	  width: 30%; 
		background-image: url("../_imgs/Screenshot 2023-10-03 at 6.02.22 PM.png");
		background-repeat: no-repeat;
		background-size: cover;
}
		
.pop-upimg-containertwo{
      height: 90vh;
      display: flex;
      align-items: center;
      justify-content: center;
	margin: 0px auto;
	
    }

    .pop-upimgtwo {
      opacity: 0;
      transition: opacity 1s;
      height: auto;
	  width: 30%; 
		background-image:url("../_imgs/Screenshot 2023-10-03 at 6.02.22 PM.png");
		background-repeat: no-repeat;
		background-size: cover;
		
		
	
    }
    .pop-upimgadtwo {
      opacity: 0;
      transition: opacity 1s;
      height: auto;
	  width: 30%; 
		background-image:url("../_imgs/adorned2.png");
		background-repeat: no-repeat;
		background-size: cover;
		
		
	
    }
.pop-upimg-containerthree{
      height: 90vh;
      display: flex;
      align-items: center;
      justify-content: center;
	margin: 0px auto;
	
    }

    .pop-upimgthree {
      opacity: 0;
      transition: opacity 1s;
      height: auto;
	  width: 30%; 
		background-image: url("../_imgs/Screenshot 2023-12-12 at 4.49.44 PM.png");
		background-repeat: no-repeat;
		background-size: cover;
		
	
    }
   .slide-in-text {
      transform: translateX(-100%);
      transition: transform 1s;
	color: white;
	text-align: left;
	font-size: 4em;
	padding-right: 10%;
	padding-left: 10%;
	font-family: sans;
	width:60%;
	   
		   
      
	  
    }
  .slide-in-texttwo {
      transform: translateX(100%);
      transition: transform 1s;
	  	color: white;
	text-align: left;
	font-size: 4em;
	padding-right: 10%;
	padding-left: 10%;
	font-family: sans;
	width:60%;
     
	  
    }
  .slide-in-textthree {
      transform: translateX(-100%);
      transition: transform 1s;
	  	color: white;
	text-align: left;
	font-size: 4em;
	padding-right: 10%;
	padding-left: 10%;
	font-family: sans;
	width:60%;
      
	  
    }
.story{
	width: 60%;
	margin: 0px auto;
	text-align: justify;
	height: 80vh;
}
.story p{
	text-align: justify;
}
.story h12{
	text-align: center;
	font-family: fun;
	font-size: 3em;
	color: white;
	
}

 .kettlvideo {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      z-index: -1;
    }

    .kettlvideotop {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      text-align: center;
      z-index: 1;
    }
    .story {
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 1s, transform 1s;
      font-size: 14px;
		height: 90vh;
		position: relative;
    }
	.floatingkettl{
    position: absolute;
    animation: bounce 4s infinite;
    bottom: -3300px;
    left: 10%;
    width: 30%;
    height: 200px;
    background-image: url("../_imgs/Screenshot 2023-12-12 at 5.05.15 PM.png");
		background-repeat: no-repeat;
		background-size: contain;
    display: block;
}
.floatingkettl{
    position: absolute;
    animation: bounce 4s infinite;
    bottom: -3300px;
    left: 10%;
    width: 30%;
    height: 200px;
    background-image: url("../_imgs/Screenshot 2023-12-12 at 5.21.23 PM.png");
		background-repeat: no-repeat;
		background-size: contain;
    display: block;
}
	.floatingkettltext{
    position: absolute;
    animation: bounce 4s infinite;
    bottom: -3650px;
    left: 10%;
    width: 30%;
    color: white;
    
}
	.floatingkettltwo{
    position: absolute;
    animation: bounce 5s infinite;
    bottom: -3500px;
    right: -8%;
    width: 30%;
    height: 200px;
    background-image:url("../_imgs/Screenshot 2023-12-12 at 12.29.06 PM.png");
	background-repeat: no-repeat;
	background-size: contain;
    display: block;
}
.notkettlfloat{
	width: 80%;
	background-image:  url("../_imgs/Screenshot 2023-12-12 at 12.29.06 PM.png");
	visibility: hidden;
	height: 10px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: 10%;

}
.notadornfloat{
	width: 80%;
	background-image: url("../_imgs/Screenshot 2023-12-12 at 4.32.14 PM.png");
	visibility: hidden;
	height: 10px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: 10%;

}
.storytitle{
	font-size: 3em;
}

.pop-upimg-containertwo{
      height: 90vh;
      display: flex;
      align-items: center;
      justify-content: center;
	margin: 0px auto;
	
    }

    .pop-upimgtwoad {
      opacity: 0;
      transition: opacity 1s;
      height: auto;
	  width: 30%; 
		background-image:url("../_imgs/Screenshot 2023-12-12 at 11.44.16 AM.png");
		background-repeat: no-repeat;
		background-size: cover;
		
		
	
    }
.pop-upimg-containerthree{
      height: 90vh;
      display: flex;
      align-items: center;
      justify-content: center;
	margin: 0px auto;
	
    }

    .pop-upimgthreead {
      opacity: 0;
      transition: opacity 1s;
      height: auto;
	  width: 30%; 
		background-image: url("../_imgs/Screenshot 2023-12-12 at 11.44.02 AM.png");
		background-repeat: no-repeat;
		background-size: cover;
		
	
    }
   .slide-in-text {
      transform: translateX(-100%);
      transition: transform 1s;
	color: white;
	text-align: left;
	font-size: 4em;
	padding-right: 10%;
	padding-left: 10%;
	font-family: sans;
	width:60%;
	   
		   
      
	  
    }
  .slide-in-texttwo {
      transform: translateX(100%);
      transition: transform 1s;
	  	color: white;
	text-align: left;
	font-size: 4em;
	padding-right: 10%;
	padding-left: 10%;
	font-family: sans;
	width:60%;
     
	  
    }
  .slide-in-textthree {
      transform: translateX(-100%);
      transition: transform 1s;
	  	color: white;
	text-align: left;
	font-size: 4em;
	padding-right: 10%;
	padding-left: 10%;
	font-family: sans;
	width:60%;
}

.accordion {
      display: flex;
      flex-direction: column;
      width: 60%;
	height: 400px;
      margin: 0px auto;
      cursor: pointer;
      user-select: none;
	background-image:url("../_imgs/Screenshot 2023-12-12 at 2.06.23 PM.png");
	background-size: cover;
	margin-top: 520px;
	

	  
    }

    .panel {
	margin-top: 300px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 2s ease-out;
		background-color: olive;
		transparency: 85%;
		
    }

    .panel.active {
      max-height: 300px;
    }
#panel2{
		background-color: olive;
		transparency: 85%;
	width: 100%;
	margin: 0px auto;
	
	
}
#panel2 p{
	margin-top: 50px;
	width: 80%;
	
}
		.storysocks{
		font-size: 1.5em;
		height: 50vh;
		width: 100%;
			text-align: justify;
			margin: 0px center;
			padding-left: 20%;
	}
	.storysocks p{
		font-size: 1.5em;
		height: 50vh;
		
		width: 80%;
		
	}
	
	
	@keyframes bounce {
   0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-25px);
      }
    }

@media (max-width:700px){
	.slide-in-text{
		font-size: 1.5em;
	}
	
	.slide-in-texttwo{
		font-size: 1.5em;
	}
	.slide-in-textthree{
		font-size: 1.5em;
	}
	.pop-upimg-containertwo{
		height: 50vh;
	}
	.story{
		font-size: 1.5em;
		height: 50vh;
		width: 100%;
	}
	.story p{
		font-size: 1.5em;
		height: 50vh;
		
	}
		.storysocks{
		font-size: 1.5em;
		height: 50vh;
		width: 100%;
			text-align: justify;
			margin: 0px center;
	}
	.storysocks p{
		font-size: 1.5em;
		height: 50vh;
		margin-left: 20%;
		margin-right: 20%;
		
	}
	.floatingkettltwo{
    display: none;
}
	.floatingkettl{
    display: none;
}
	.notkettlfloat{
	visibility: visible;
		height: 300px;
		margin: 0px, auto;
		margin-bottom: 100px;
		
	}
	 .main-nav a{
		font-size: 1.7em;
	
	}
	.main-nav{
		width: 100%;
	}
	.panel p{
		font-size: 1.1em;
	}
	   .panel.active {
      max-height: 350px;
    }
#panel2{
		background-color: olive;
		transparency: 85%;
	
	
}
#panel2 p{
	margin-top: 20%;
	width: 78%;
}
	.panel{
		margin-top: 20px;
	}	

}
.notadornfloat{
		visibility: visible;
		height: 300px;
		margin: 0px, auto;
		margin-bottom: 100px;
}
